@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.body{
  min-height: 100vh;
  --background-card-color: #F6F6F6;
  --menu-bar-color: #00546B;
  --primary-color: #00546B;
  --destak-color: #FF558A;
  --button-assistir-color: #FF558A; 
}

.container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 3%;

}


