.container2{
    margin-left: 115px;
    margin-right: 120px;
}
  
.nav-link {
    color: var(--destak-color);
    font-weight: bold;
    font-size: 22px;
    margin: 20px;
    text-decoration: none;
    opacity: .4;
    
}

.nav-link.active {
    opacity: 1;
    border-bottom: solid 1px var(--destak-color);
}